# Node.js with Angular
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '14.16'
  displayName: 'Install Node.js'
  

- script: |
    npm install chromedriver
    npm install geckodriver
    npm install selenium-webdriver
    npm install mocha
    npm install
    npm install mocha-junit-reporter --save-dev
    npm run test
  displayName: 'npm install and build'
- task: PublishTestResults@2
  inputs:
    testResultsFormat: 'JUnit'
    testResultsFiles: './TEST.xml'
    testRunTitle: 'Ejecutando pruebas'

